.flex-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(#ffffff);
}

.board{
    width: 300px;
    height: 300px;
    display: grid;
    background-color: white;
    border-radius: 15px;
    box-shadow: inset 0 -3em 3em  rgb(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgb(0, 0, 0, 0.3);
}
.board:hover{
    cursor: pointer;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    width: 60vw;
    height: 60vh;
    max-width: 600px;
    max-height: 600px;
}
.title{
    display: flex;
    justify-content: center;
}
.buttons{
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0em;
    border-radius: 2em;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
}
button:hover{
    cursor: pointer;
}
.blackButton{
    background-color: black;
    color: white;
}
.blackButton:hover{
    background-color: white;
    color: black;
}
.greyButton{
    background-color: #696060;
    color: black;
}
.greyButton:hover{
    background-color: #808080;
    color: white;
}
.randomButton{
    background: linear-gradient(0.25turn, #ffc0cb, #ffffff, #0000ff);
}
.randomButton:hover{
    background: linear-gradient(0.25turn, #a7e2a7, #ffffff, #f5f5a5);
}
.erasorButton{
    background-color: #fff0f0;
    color: black;
}
.erasorButton:hover{
    background-color: white;
    color: #fff1f1;
}
input{
    width: 50px;
    border-radius: 10px;
}
.mode{
    margin-bottom: 5px;
}
.error{
    display: none;
}



